<div class="auth-container">
  <div class="auth-card">
    
    <div class="logo-container">
      <div class="logo-img-container">
        <img src="assets/images/molarisse.png" alt="Molarisse Logo" class="tooth-logo">
        <div class="shine-effect"></div>
      </div>
    </div>
    
    <h2>Mot de passe oublié</h2>
    
    <div *ngIf="!emailSent">
      <p class="instructions">
        Entrez votre adresse e-mail ci-dessous. Nous vous enverrons un code de réinitialisation pour créer un nouveau mot de passe.
      </p>

      <!-- Message d'erreur -->
      <div *ngIf="formError" class="error-message">
        <mat-icon class="error-icon">error</mat-icon>
        <p>{{ formError }}</p>
      </div>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="auth-form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Entrez votre email" type="email">
          <mat-icon matPrefix>email</mat-icon>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
            Email est requis
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
            Email invalide
          </mat-error>
        </mat-form-field>

        <div class="action-buttons">
          <button mat-stroked-button type="button" (click)="backToLogin()">
            Retour
          </button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid || isSubmitting">
            <mat-spinner *ngIf="isSubmitting" diameter="20" class="spinner-button"></mat-spinner>
            <span *ngIf="!isSubmitting">Envoyer</span>
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="emailSent" class="success-message">
      <mat-icon class="success-icon">check_circle</mat-icon>
      <h3>Email envoyé!</h3>
      <p>
        Si l'adresse email est associée à un compte, vous recevrez sous peu un email contenant les instructions 
        pour réinitialiser votre mot de passe.
      </p>
      <p>
        Vérifiez votre boîte de réception et votre dossier spam.
      </p>
      <div class="action-buttons single-button">
        <button mat-raised-button color="primary" (click)="backToLogin()">
          Retour à la connexion
        </button>
      </div>
    </div>
  </div>
</div> 